div {
    padding: 10px;
    border: 1px solid #fff;
    float: left;
    margin: 10px;
}
.toggler {
    background: #338;
}
.toggler.changed {
    background: #383;
}
.box.shine {
    box-shadow: 0 0 20px 5px #fff;
}
.waiter.ready {
    background: #383;
}