
/* usuń tą linię komentarza  i zobacz co się stało 

div {
background-color: blue;
}

/* usuń tą linię komentarza  i zobacz co się stało 

.someClass {
background-color: green;
}

/* usuń tą linię komentarza  i zobacz co się stało

div.someClass {
background-color: purple;
}

/* usuń tą linię komentarza  i zobacz co się stało

#someId {
background-color: brown;
}

/* usuń tą linię komentarza  i zobacz co się stało

#someId.someClass {
background-color: black;
}

/* usuń tą linię komentarza  i zobacz co się stało

div {
background-color: white !important;
}


*/
