tuWpiszSelektor {
background-color:red;
}

tuWpiszSelektor {
background-color:blue;
}

tuWpiszSelektor {
background-color:#000000; /*you know it's black anyway*/
}

tuWpiszSelektor {
background-color:#abcdef;
}
