/* in case I didn't tell you yet - use this whenever you do anything */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 

This task doesn't require setting any widths and heights so don't. 
You will never need any pixel values other than 10px.
Well, all the exceptions to this are already written just below (width:960px and 100px)

Your job is to set some margins, paddings and floats (spoiler: and then you get in trouble :) )

Oh, and you don't need any more selectors here, but you can add some if you want.

DO:
1. change the text color after you look at the HTML and the image you're reproducing
2. uncomment the borders 
3. do what you need to fit the outlines
4. get in trouble with sidebar sticking out at the bottom and solve the problem

*/

body{
	/* change this to some color to see the text. ever heard of RGBA? */
	color: rgba(0,0,0,0.3);
}

div.wrapper {
	width: 960px;
	/*border: 2px dotted yellow;*/
}


div.content {

}

div.sidebar {
	width: 100px;
	/*border: 2px dotted yellow;*/
}


header {
	/*border: 2px dotted yellow;*/
}
